CopyPasteCitation = {}
CopyPasteCitation.userBase = "<%= @url %>";
CopyPasteCitation.hostName = "<%= @host %>";

CopyPasteCitation.attach = function(jqueryEl){
    jqueryEl.append(
		CopyPasteCitation.widgetCode());
}
    
//I know I could just go ahead and
//use jquery templates, but I don't want to have
//to include all that code in this widget    
CopyPasteCitation.widgetCode = function(){
    var code = ["<div id='copy_paste_widget_main'>",
		"<form id='copy_paste_widget_form' method='post' action='http://",
		"'"+CopyPasteCitation.hostName+"/lookup'>",
		"<textarea /></form>",
		"<a href='#'>[submit]</a><a href='#'>[clear]</a>"]
    return code.join('\n');
}

