
CiteBox = {}
CiteBox.urlBase = "<%= @url %>";
CiteBox.hostName = "<%= @host %>";

CiteBox.attach = function(jqueryEl){
    var defaultText = 'Copy & Paste or\nType Your Citation Here';
    jqueryEl.append(
		CiteBox.widgetCode());
    $('#citation_text').val(defaultText);
    $('#citation_text').bind('click',function(e){
        e.preventDefault();
	if($('#citation_text').val() === defaultText){

	   $('#citation_text').val('');
	}	
    });
    $('#citebox_submit').bind('click',function(e){
	e.preventDefault();
        $("#citebox_widget_form").submit();
    });

   $('#citebox_clear').bind('click',function(e){
   	e.preventDefault();
	$("#citation_text").val(defaultText);
    });
}
    

//I know I could just go ahead and
//use jquery templates, but I don't want to have
//to include all that code in this widget    
CiteBox.widgetCode = function(){
    var code = ["<div id='citebox_widget_main' class='citebox'>",
                "<span class='citebox' id='citebox_name'><strong>CiteBox</strong></span>",
		"<form id='citebox_widget_form' class='citebox'  method='post' action='http://",
		CiteBox.hostName+"/lookup'>",
		"<input type='hidden' name='open_url_base'",
		" value ='"+CiteBox.urlBase+"'  id='open_url_base'/>",
		"<textarea class='citebox' id='citation_text' name='citation_text' /></form>",
		"<div class='citebox_buttons'><a id='citebox_submit' class='citebox citebox_button' href='#'>find it</a>",
		"<a  id='citebox_clear' class='citebox citebox_button' href='#'>clear</a></div>"]
    return code.join('\n');
}

