<html>
<head>
<title>Copy & Paste Citation Lookup</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/citationtool/localhost:4567/wx2mz2qh4l.search.serialssolutions.com"></script>
<script type="text/javascript">
  $('document').ready(function(){
      console.log('ready');
  });
</script>
</head>

<body>
<h1>Testing Copy & Past Citation</h1>
<div id='main'>

</div>
</body>

</html>
